nav {
    background-color: #281a47;
    padding: 10px 30px;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 60px;
    font-size: 16px;
    font-weight: bold;
    
}

nav a:hover {
    color: #ffcc00;
}

nav button {
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
}

nav button:hover {
    background-color: #cc0000;
}