.post-title{
    text-align: center;
    color:blueviolet;
    font-size: 25px;
}
.post-content{
    color:white;
    font-size:15px;
}
.posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    width: 100%;
    justify-items: center;
}