.Home{
    place-items: center;
}
.title{
    font-size:50px;
}
.content{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: blueviolet;
    background-color: rgba(87, 81, 81, 0.2);
    padding: 15px 20px; /* Adds spacing inside */
    border-radius: 12px; /* Soft rounded corners */
    display: inline-block;
}
.JoinNow{
    color: yellow;
}